<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link rel="shortcut icon" href="favicon_io/favicon.ico" type="image/*">

  <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap"
    rel="stylesheet">

  <title>FitGym</title>

  <!-- Bootstrap core CSS -->
  <link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">


  <link rel="stylesheet" href=" css/fontawesome.css">
  <link rel="stylesheet" href=" css/templatemo-cyborg-gaming.css">
  <link rel="stylesheet" href=" css/owl.css">
  <link rel="stylesheet" href=" css/animate.css">
  <link rel="stylesheet" href="https://unpkg.com/swiper@7/swiper-bundle.min.css" />
  <link rel="stylesheet" href=" css/index.css">
  
</head>

<body>

  <div id="js-preloader" class="js-preloader">
    <div class="preloader-inner">
      <span class="dot"></span>
      <div class="dots">
        <span></span>
        <span></span>
        <span></span>
      </div>
    </div>
  </div>
  <header class="header-area header-sticky">
    <div class="container">
      <div class="row">
        <div class="col-12">
          <nav class="main-nav">
            <!-- ***** Logo Start ***** -->
            <a href="/index" class="logo">
              <img src=" images/rlogob.png" style="position: absolute;width: 120px;" alt="">
            </a>
            <div class="search-input">
              <form id="search" action="#">
                <input type="text" onkeyup="this.onchange()" placeholder="Type Something" id='searchText' name="searchKeyword"
                   autocomplete="off" />
                <i class="fa fa-search"></i>
                <div class="Box" id="searchItem" style="color: white;">
                </div>
              </form>
            </div>
            <ul class="nav">
              <li><a href="/index" class="active">Home</a></li>
              <li><a href="/course">Course</a></li>
              <li><a href="/profile">Profile <img src='<%=userprofile%>' alt=""></a></li>
            </ul>
            <a class='menu-trigger'>
              <span>Menu</span>
            </a>
          </nav>
        </div>
      </div>
    </div>
  </header>

  <div class="container">
    <% if( success_messages !="" ){ %>
      <div class="error" role="alert" style="margin-top: 88px; background-color: #50be77;">
        <strong> Success </strong>
        <%= success_messages %>
          <button type="button" onclick="document.getElementsByClassName('error')[0].remove()"
            class="btn-close">x</button>
      </div>
      <% } %>
    <div class="row">
      <div class="col-lg-12">
        <div class="page-content">

          <div class="main-banner">
            <div class="row">
              <div class="col-lg-7">
                <div class="header-text">
                  <h6>Welcome To <em>FitGym</em></h6>
                  <h4><em>#Explore</em> Our Facilities and Gym</h4>
                 
                </div>
              </div>
            </div>
          </div>

          <div class="most-popular">
            <div class="row">
              <div class="col-lg-12">
                <div class="heading-section">
                  <h4><em>Most Popular</em> Courses Right Now</h4>
                </div>
                <div class="row" id="userGig">
                </div>
                <div class="main-button">
                  <a onclick="loadAllgig()" style="cursor: pointer; color: rgb(72, 72, 72);">
                    Load All
                  </a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <footer>
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
          <p>Copyright ©<a href="#">TEAM_NAME</a> Company. All rights reserved.
            <br>
            Contact Us :
            <i class="fa-brands fa-instagram fa-beat fa-lg " style="color: #da17de; padding: 0px 5px 0px 30px;"></i>
            <i class="fa-brands fa-facebook fa-beat fa-lg" style="color: #3b5998; padding: 0px 5px;"></i>
            <i class="fa-brands fa-twitter fa-beat fa-lg" style="color: #1da1f2; padding: 0px 5px;"></i>
            <i class="fa-brands fa-linkedin fa-beat fa-lg" style="color: #0077b5; padding: 0px 5px;"></i>
            <i class="fa-brands fa-discord fa-beat fa-lg" style="color: #7289da; padding: 0px 30px 0px 5px"></i>
          </p>
        </div>
      </div>
    </div>
  </footer>


  <script src="vendor/jquery/jquery.min.js"></script>
  <script src="vendor/bootstrap/js/bootstrap.min.js"></script>

  <script src="js/isotope.min.js"></script>
  <script src="js/owl-carousel.js"></script>
  <script src="js/tabs.js"></script>
  <script src="js/popup.js"></script>
  <script src="js/custom.js"></script>
  <script src="js/index.js"></script>
  <script>
   
  </script>

</body>

</html>